@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

:root {
    --cor01: #2E4559;
    --cor02: #8C585D;
    --cor03: #8C7972;
    --cor04: #BFBFBF;
    --cor05: #0D0D0D;
    --releway: 'Raleway', sans-serif;
}

* {
    padding: 0%;
    margin: 0%;
    font-family: var(--releway);;
}

html, body {
    background-color: var(--cor01);
}

header {
    background-color: var(--cor05);
    box-shadow: -1px 3px 15px 3px rgba(0,0,0,0.51);
    padding: 20px;
    height: 225px;
}

header > h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.575);
    padding: 10px;
}

header > h1:hover {
    color: var(--cor02);
}

#myImg {
    display: block;
    border-radius: 50%;
    border: rgba(255, 255, 255, 0.671) 3px solid;
    margin: 10px auto;
    width: 150px; 
}
#myImg:hover {
    border: var(--cor03) 3px solid;  
}

nav {
    background-color: var(--cor05);
    height: 50px;
}

nav > div {
    text-align: center;
    padding-bottom: 10px;
    display: none;
}

nav > div > img {
    cursor: pointer;
}

.sessao {
    background-image: url(../img/coding.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    margin-top: 5px;
}

.sessao > p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.514);
    height: 400px;
    text-align: center;
}

.icon-sessao {
    margin-left: 8px;
    width: 30px;
    vertical-align: middle;
}

@media (max-width: 540px) { /* PARA O Cell */
    .sessao {
        color: white;
        background-position: right center;
    }    
    .sessao > p {
        font-size: 2em; 
    }
}



@media (min-width: 540px) {
    .sessao {
        color: var(--cor04);
        background-position: center right;
    }
    .sessao > p {
        font-size: 3em;
    }
    .sessao:hover {
        color: white;
    }
}