* {
     padding: 0%;
     margin: 0%;
}

header {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: white;
     color: black;
     height: 10vh;
}

.linkH{
     color: black;
     text-decoration: none;
     margin: 20px 10px;
     font-size: 1.4em;
}

.linkH:hover{
     text-decoration: underline;
     color: rgba(0, 0, 0, 0.829);
}